/* Tablet View Size  */

@media only screen and (min-width: 780px) {
	.grid-boxes {
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		margin: .5em;
		grid-gap: 1.5em;
		font-size: 1.5rem;
	}

	.box {
		text-align: center;
		padding: .1rem;
		margin: .1rem;
		grid-gap: .1rem;
		margin-top: 1.0rem;
		max-width: 100%;
		border-style: ridge;
		box-shadow: 5px 5px 10px black;
		border-radius: 3%;
	}

	picture {
		border-radius: 10%;
		object-fit: cover;
		height: 100%;
		width: 100%;
	}

	picture img {
		border-radius: 3%;
		object-fit: fill;
		background-color: transparent;
		box-shadow: none;
		/*border-radius: 5%;*/
	}

	footer {
		grid-template-columns: 1fr 1fr;
	}

	h1 {
		max-width: 64rem;
		font-size: 2.5rem;
	}

	.formcontainer {
		display: grid;
		justify-content: center;
		max-width: 100%;
		max-height: 100%;
		background-color: #4b2c25;
		border-radius: 5%;
		padding: 1em;
	}
}