* {
	font-family: "Courgette", Ubuntu, sans-serif;
	/*background-color: #4a554a;*/
	align-items: center;
    margin: .5px;
}

body {
	background-image: url("./img/fat-data/mtbtrees.jpg");
	background-size: cover;
	box-sizing: border-box;
	max-width: 100%;
	display: grid;
	grid-gap: 1em;
	color: #63b3a1;
	align-items: center;
}

.newdate {
	font-size: .7em;
	color: burlywood;
	background-color: inherit;
}

p, #slogan {
	color: whitesmoke;
	background-color: transparent;
	font-size: .6em;
}
.info{
	margin: 1.5rem;
}
.info p {
color: #050708;
font-size: 1.5em;	
}

.info h1 {
	color: #050708;
 	font-size: 1.8em;	
} 

figcaption,
#weathericon,
#weather p {
	background-color: transparent;
	color: whitesmoke;
	text-align: center;

}

#weather {
	background-color: #373a0e;
	text-align: center;
	margin-left: 2rem;
}


/* .container {
	display: grid;
	max-width: 100%;
	max-height: 100%;
	background-color:#4b2c25;
	border-radius: 10%;
}
*/

.grid-boxes {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	margin: .5em;
	grid-gap: 1em;
	color: #63b3a1;
	font-size: 1rem;
}

span.label,
h1, .visits {
	background-color: transparent;
	color: burlywood;
	font-size: 1.5rem;
}

h3 {
	color: rgb(135, 222, 157);
	max-width: 80;
	background-color: transparent;
	margin-bottom: .5rem;
}

#date {
	background-color: #274156;
	font-size: 1.2rem;
	color: rgb(135, 222, 157);
}

header {
	display: grid;
	color: rgb(135, 222, 157);
	background-color: #274156;
	/*background-color: #4a554a;*/
	box-shadow: 5px 5px 5px rgb(0, 0, 0);
	text-align: center;
	grid-gap: 1rem;
	justify-content: auto;
	padding: .5em;
	/*grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));*/

}

.social {
	justify-content: left;
}

footer {
	color: whitesmoke;
	grid-column: 1/-1;
	background-color: #274156;
	/*	background-color: #4a554a;*/
	box-shadow: 5px 5px 5px rgb(0, 0, 0);
	justify-content: right;
	align-items: center;
	text-align: center;
	border-radius: 10%
}

#todaydate,
#yeartoday {
	background-color: #274156;
	color: whitesmoke;
	justify-content: right;
}

/*picture {
	max-height: 100%;
	max-width: 100%;
}*/

.box {
	text-align: center;
	padding: .1rem;
	margin: .1rem;
	grid-gap: .1rem;
	max-width: 100%;
	border-style: ridge;
	box-shadow: 5px 5px 10px black;
	border-radius: 10%;
}

img {
	max-height: 100%;
	max-width: 100%;
	background-color: transparent;
	box-shadow: none;
	border-radius: 5%;
}

#menu1 {
	margin: 10px;
	width: 80%;
}

#menu1 li {
	width: 130px;
	float: left;
	margin-left: 2px;
}

#event,
#spot3 {
	background-color: #7EA2AA;
	/*grid-column: 1/-1;
	max-height: 70%;
	margin: 1em;*/
}

#hero,
#spot4 {
	background-color: #31857a;
}

/*#weather {
	background-color: #1C6E8C;
}*/

#news {
	background-color: #274156;
}

#spot1 {
	background-color: #373a0e;
}

#spot2 {
	background-color: #bdb066;
}

nav {
	background-color: #050708;
	text-align: center;
	box-shadow: 0 2px 15px rgb(0, 0, 0);
	margin: 0 auto;
	border-radius: 10%;
}

nav ul {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul li a {
	list-style: none;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	background: linear-gradient(90deg, transparent, rgb(48, 91, 110), transparent) top var(--d, 0) 10px no-repeat;
	transition: 0.5s;
}

nav a:hover {
	--d: 75%;
}

.active {
	color: rgb(107, 126, 113);
}

/* Small/Phone View ***************/
/*nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: rgb(65, 82, 74);
	border-radius: 10%;
}
*/
.navigation {
	list-style: none;
	padding: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	/*color: rgb(80, 139, 107);*/
	color: rgb(135, 222, 157);
	;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a.ham::before {
	content: " \2263 ";
}

.navigation a:hover {
	color: white;
	background-color: rgb(80, 139, 107);
}

.responsive li {
	display: block;
}

.responsive a.ham::after {
	color: whitesmoke;
}

form fieldset {
	margin: 2rem 0;
	border: 4px solid rgb(80, 139, 107);
	;
	border-radius: 10px;
	padding: .5rem 2%;
}

form legend {
	color: #4b2c25;
	background-color: burlywood;
	border-radius: 10px;
	margin: 0 1rem;
	padding: 0 .5rem;
}

form label.top,
form div {
	display: block;
	padding-top: 1rem;
	font-size: .9rem;
	color: burlywood;
}

form label.top input,
form label.top select,
form textarea {
	display: block;
	font-size: 1rem;
	border: solid 1px rgb(105, 51, 51);
	border-radius: 4px;
	padding: .75rem;
	color: rgb(132, 174, 212);
	background-color: rgb(10, 19, 59);
}

form label.sbs {
	display: block;
	padding-top: .7rem;
	padding-bottom: .7rem;
	color: burlywood;
}

form input.submitBtn {
	display: block;
	font-size: 1rem;
	border: none;
	border-radius: 1rem;
	padding: .75rem 1.5rem;
	color: burlywood;
	background-color: rgb(28, 32, 51);
	margin: 0 0 2rem 2%;
	width: 96%;
	max-width: 20rem;
}

form label.top input:required {
	border-left: rgb(109, 18, 2) solid 6px;

}

form label.top input:required:valid {
	border-left: rgb(20, 114, 20) solid 6px;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}